{{#if report}}
{{>_select}}
{{else}}
{{>_dashboard}}
{{>_add}}
{{/if}}
<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm {{reportTable report}}">
        <thead class="thead-dark">
            <tr>
                <th class="table-column-header">Фамилия <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Имя <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Отчество <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">№ студ. билета <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Группа <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Рост стоя <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Рост сидя <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Размах рук <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Вес <i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Объём грудной клетки при вдохе" class="table-column-header helper">ОГК<i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Объём грудной клетки при полном вдохе"class="table-column-header helper">ОГК полн.<i class="arrow fa fa-sort"></i>
                </th>
                <th data-tooltip = "Объём грудной клетки при макс. вдохе" class="table-column-header helper">ОГК макс.<i class="arrow fa fa-sort"></i>
                </th>
                <th data-tooltip = "Объём талии" class="table-column-header helper">ОТ <i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Объём бедра" class="table-column-header helper">ОБ <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header date-col">Дата обследования <i class="arrow fa fa-sort"></i></th>
                <th colspan="2" class="operations">Операции</th>
            </tr>
        </thead>
        <tbody>
            {{#each researches}}
            <tr>
                <td>{{student.lastName}}</td>
                <td>{{student.firstName}}</td>
                <td>{{student.patronymic}}</td>
                <td>{{student.studentNumber}}</td>
                <td>{{student.group}}</td>
                <td>{{stayHeight}}</td>
                <td>{{sitHeight}}</td>
                <td>{{handWidth}}</td>
                <td>{{weight}}</td>
                <td>{{chestOnBreath}}</td>
                <td>{{chestOnFullBreath}}</td>
                <td>{{chestOnMaxBreath}}</td>
                <td>{{beltVolume}}</td>
                <td>{{hipVolume}}</td>
                <td>{{formatDate researchDate 'DD-MM-YYYY'}}</td>
                <td>
                    <a class="btn btn-xs btn-warning" href="/antropology/{{_id}}/edit">Изменить</a>
                </td>
                <td class="delete-td">
                    <form class="inline-form" action="/antropology/{{_id}}?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{#if report}}
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
{{/if}}