<table class="table table-bordered table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th class="table-column-header">Номер студ. билета <i class="arrow fa fa-sort"></i></th>
            <th class="table-column-header">Фамилия <i class="arrow fa fa-sort"></i></th>
            <th class="table-column-header">Имя <i class="arrow fa fa-sort"></i></th>
            <th class="table-column-header">Отчество <i class="arrow fa fa-sort"></i></th>
            <th class="table-column-header">Группа <i class="arrow fa fa-sort"></i></th>
            <th class="table-column-header date-col">Дата рождения <i class="arrow fa fa-sort"></i></th>
            <th class="table-column-header">Пол <i class="arrow fa fa-sort"></i></th>
            <th class="table-column-header">Отчёт</th>
            <th class= "operations">Операции</th>
        </tr>
    </thead>
    <tbody>
        {{#each students}}
        <tr>
            <td>{{studentNumber}}</td>
            <td>{{lastName}}</td>
            <td>{{firstName}}</td>
            <td>{{patronymic}}</td>
            <td>{{group}}</td>
            <td>{{formatDate birthDate 'DD-MM-YYYY'}}</td>
            <td>{{sex}}</td>
            <td><a class="btn btn-xs btn-dark" href="/students/{{_id}}/report">Отчёт</a></td>
            <td>
                <a class="btn btn-xs btn-warning" href="/students/{{_id}}/edit">Изменить</a>
                <form class="inline-form" action="/students/{{_id}}?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>