<form action="/op/{{research.id}}?_method=PUT" method="POST">
    <div class="flex-box">
        <div class="inline-div">
            <div class="form-group">
                <label for="studentNumber">Номер студенческого билета осбледуемого</label>
                <input type="text" name="studentNumber" class="form-control" value="{{research.student.studentNumber}}" readonly>
            </div>
            <div class="form-group">
                <label for="p0">Р<sub>0</sub></label>
                <input type="text" name="research[p0]" class="form-control" value="{{research.p0}}" required>
            </div>
            <div class="form-group">
                <label for="sad0">САД<sub>0</sub></label>
                <input type="text" name="research[sad0]" class="form-control" value="{{research.sad0}}" required>
            </div>
            <div class="form-group">
                <label for="dad0">ДАД<sub>0</sub></label>
                <input type="text" name="research[dad0]" class="form-control" value="{{research.dad0}}" required>
            </div>
            <div class="form-group">
                <label for="p1">P<sub>1</sub></label>
                <input type="text" name="research[p1]" class="form-control" value="{{research.p1}}" required>
            </div>
        </div>
        <div class="inline-div">
            <div class="form-group">
                <label for="sad1">САД<sub>1</sub></label>
                <input type="text" name="research[sad1]" class="form-control" value="{{research.sad1}}" required>
            </div>
            <div class="form-group">
                <label for="dad1">ДАД<sub>1</sub></label>
                <input type="text" name="research[dad1]" class="form-control" value="{{research.dad1}}" required>
            </div>
            <div class="form-group">
                <label for="p2">P<sub>2</sub></label>
                <input type="text" name="research[p2]" class="form-control" value="{{research.p2}}" required>
            </div>
            <div class="form-group">
                <label for="sad2">САД<sub>2</sub></label>
                <input type="text" name="research[sad2]" class="form-control" value="{{research.sad2}}" required>
            </div>
            <div class="form-group">
                <label for="dad2">ДАД<sub>2</sub></label>
                <input type="text" name="research[dad2]" class="form-control" value="{{research.dad2}}" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="researchDate">Дата проведения обследования</label>
        <input type="date" name="research[researchDate]" class="form-control"
            value="{{formatDate research.researchDate "YYYY-MM-DD"}}" required>
    </div>
    <div class="form-group">
        <input class="form-control btn btn-lg btn-primary" type="submit" value="Готово">
    </div>
</form>