{{>_dashboard}}
{{>_add}}
<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th class="table-column-header">Фамилия <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Имя <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Отчество <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">№ студ. билета <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Группа <i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Индекс массы тела" class="table-column-header helper">ИМТ (%)<i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Соот-вие верхнего и нижнего сегментов туловища" class="table-column-header helper">СВСТН<i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Отношение размаха рук к росту" class="table-column-header helper">ОРР<i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Отношение длины кисти к росту" class="table-column-header helper">ОДКР (%)<i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Лицевой индекс" class="table-column-header helper">ЛИ (%)<i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Показатель Эрисмана" class="table-column-header helper">ПЭ<i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Разностный индекс" class="table-column-header helper">РИ<i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Разностный показатель" class="table-column-header helper">РП<i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Баллы<i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Анализ<i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Дата обследования <i class="arrow fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td class="student-info">{{research.student.lastName}}</td>
                <td class="student-info">{{research.student.firstName}}</td>
                <td class="student-info">{{research.student.patronymic}}</td>
                <td class="student-info">{{research.student.studentNumber}}</td>
                <td class="student-info">{{research.student.group}}</td>
                <td>{{imt}}</td>
                <td>{{svstn}}</td>
                <td>{{orr}}</td>
                <td>{{odkr}}</td>
                <td>{{faceIndex}}</td>
                <td>{{pe}}</td>
                <td>{{ri}}</td>
                <td>{{rp}}</td>
                <td>{{points}}</td>
                <td><span data-report="{{patalogys}}" class="report btn btn-xs btn-dark inline-div">Анализ</span></td>
                <td>{{formatDate research.researchDate 'DD-MM-YYYY'}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>