{{#if report}}
{{>_select}}
{{else}}
{{>_dashboard}}
{{>_add}}
{{/if}}
<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm {{reportTable report}} analysis">
        <thead class="thead-dark">
            <tr>
                <th class="table-column-header">Фамилия <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Имя <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Отчество <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">№ студ. билета <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Группа <i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Жизненный индекс" class="helper table-column-header">ЖИ <i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Показатель отн-ния мышеченой силы к массе тела" class="table-column-header">ПОМСМТ 1 <i class="arrow fa fa-sort"></i></th>
                <th data-tooltip = "Показатель отн-ния мышеченой силы к массе тела" class="table-column-header">ПОМСМТ 2 <i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Анализ<i class="arrow fa fa-sort"></i></th>
                <th class="table-column-header">Дата обследования <i class="arrow fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{research.student.lastName}}</td>
                <td>{{research.student.firstName}}</td>
                <td>{{research.student.patronymic}}</td>
                <td>{{research.student.studentNumber}}</td>
                <td>{{research.student.group}}</td>
                <td>{{gi}}</td>
                <td>{{pomsmt1}}</td>
                <td>{{pomsmt2}}</td>
                <td><span data-report="{{patalogys}}" class="report btn btn-xs btn-dark inline-div">Анализ</span></td>
                <td>{{formatDate research.researchDate 'DD-MM-YYYY'}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{#if report}}
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
{{/if}}